---
import { ChevronDown } from "@lucide/astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Emma rouche psychologue"
  description="Parcours et approche d’Emma Rouché, psychologue clinicienne à Castelnau-le-Lez, à proximité de Montpellier."
  pageH1="Qui suis-je ?"
>
  <section class="g-page-section">
    <div class="span-8">
      <header class="has-paper-shadow">
        <h1>Qui suis-je&nbsp;?</h1>
        <h2>Ma formation universitaire</h2>
        <p>
          Originaire de Montpellier, j’y ai effectué mes études de psychologie
          jusqu’en Master 1. J’ai ensuite quitté la région pour terminer,
          l’année suivante, ma formation à l’Université de Paris Descartes où
          j’ai obtenu mon Master 2 en Psychologie clinique et psychopathologie.
          J’ai reçu tout au long de mon cursus universitaire une formation
          théorique d’orientation psychanalytique. De plus, j’ai suivi des
          modules spécifiques en psychologie projective (tests de personnalité)
          et en psychopathologie de l’adolescent et du jeune adulte. Par la
          suite, j’ai obtenu un Diplôme Universitaire de Psychologie Projective.
        </p>
        <h2>Mon parcours</h2>
        <p>
          Après mon Master 2, j’ai exercé plus de 5 années dans un Institut
          Thérapeutique Éducatif et Pédagogique (ITEP), implanté au coeur des
          quartiers sensibles de la Seine-Saint-Denis. J’y ai accompagné en
          psychothérapie des enfants, adolescents et jeunes adultes présentant
          d’importants troubles du comportement (agitation, violence,
          hyperactivité...) et des troubles des apprentissages (retard scolaire,
          dyslexie, dysorthographie...). J’ai également mené un groupe de
          parole, avec parents et famille des jeunes accueillis, afin que chacun
          puisse partager son expérience, dans un espace très convivial.
        </p>
        <p>
          Enfin, dans le cadre du programme de Réussite Éducative de la ville de
          Massy, j’ai accompagné des enfants et des adolescents en difficultés
          psychologiques ainsi qu’en décrochage scolaire.
        </p><p>
          Aujourd'hui, en plus de ma pratique libérale, je poursuis mon travail
          auprès d'adolescents en difficulté dans un ITEP de l'Hérault.
        </p>
        <h2>Mes spécialisations</h2>
        <p>
          Mes compétences acquises à travers ces différentes expériences
          professionnelles m’ont amenée à me spécialiser en consultations pour
          enfants et adolescents. C’est ainsi que je propose la réalisation de
          bilans psychologiques ainsi que du soutien familial et parental. Par
          ailleurs, mon offre s’étend à des psychothérapies pour adultes.
        </p>
      </header>
    </div>

    <div class="span-4--l">
      <div class="page-anim-svg">
        <svg
          id="identity-svg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 40.14 60.17"
          ><title>identite</title><path
            id="identity-cadre"
            d="M25.14,4C26.7,2,27.78,1,26.74.23S25.23.58,22.64,4H17.76C16.16.83,15.85-.43,14.69.14s-.32,1.6.83,3.89C3.89,4,.14,3.15.14,7c0,52.52-1.13,53,3,53,35,0,37,1.11,37-3V7C40.14,3.05,36,4,25.14,4Zm12,54c-36.4,0-35,.43-35-1,0-53.25-.45-51,1-51H16.52l1,2a4,4,0,0,0,2.62,7C26,15,25,5.9,19.31,7.12L18.76,6C38,6,38.14,5.65,38.14,7,38.14,60.28,38.59,58,37.14,58ZM18.47,9.93c.5,1,.93,2.58,2.11,2s.25-1.73-.32-2.88a2,2,0,0,1,1.88,2C22.14,14.53,16.53,12.87,18.47,9.93Z"
            style="fill:#594f5b"></path><path
            id="identity-perso"
            d="M7.14,36A12.91,12.91,0,0,0,9,42.69l-.08,0c7,9.25,16.66,7.69,22.44,0l-.08,0A12.9,12.9,0,0,0,33.14,36C33.14,18.86,7.14,18.85,7.14,36Zm9,2c0-2.85-.7-8,4-8,4.9,0,5.4,7.83,2.06,11.74L28,43.71a11,11,0,0,1-15.73,0l5.81-1.94C17.06,40.57,16.14,39.74,16.14,38.06Zm13.2,4-3.86-1.29C26.44,38.9,28,28,20.14,28c-6.79,0-6,7.41-6,10a5.9,5.9,0,0,0,.66,2.7L10.94,42a11,11,0,1,1,18.4,0Z"
            style="fill:#afcb88"></path><g id="identity-bullets"
            ><path d="M36.34,19a1,1,0,0,1-2,0A1,1,0,0,1,36.34,19Z"></path><path
              d="M17.34,19a1,1,0,0,1-2,0A1,1,0,0,1,17.34,19Z"></path><path
              d="M9.74,19a1,1,0,0,1-2,0A1,1,0,0,1,9.74,19Z"></path><path
              d="M5.94,19a1,1,0,0,1-2,0A1,1,0,0,1,5.94,19Z"></path><path
              d="M13.54,19a1,1,0,0,1-2,0A1,1,0,0,1,13.54,19Z"></path><path
              d="M21.14,19a1,1,0,0,1-2,0A1,1,0,0,1,21.14,19Z"></path><path
              d="M31.54,18a1,1,0,0,1,0,2A1,1,0,0,1,31.54,18Z"></path><path
              d="M27.74,18a1,1,0,0,1,0,2A1,1,0,0,1,27.74,18Z"></path><path
              d="M23.94,18a1,1,0,0,1,0,2A1,1,0,0,1,23.94,18Z"></path><path
              d="M5.94,54a1,1,0,0,1-2,0A1,1,0,0,1,5.94,54Z"></path><path
              d="M13.54,54a1,1,0,0,1-2,0A1,1,0,0,1,13.54,54Z"></path><path
              d="M32.54,54a1,1,0,0,1-2,0A1,1,0,0,1,32.54,54Z"></path><path
              d="M28.74,54a1,1,0,0,1-2,0A1,1,0,0,1,28.74,54Z"></path><path
              d="M36.34,54a1,1,0,0,1-2,0A1,1,0,0,1,36.34,54Z"></path><path
              d="M21.14,54a1,1,0,0,1-2,0A1,1,0,0,1,21.14,54Z"></path><path
              d="M17.34,54a1,1,0,0,1-2,0A1,1,0,0,1,17.34,54Z"></path><path
              d="M24.94,54a1,1,0,0,1-2,0A1,1,0,0,1,24.94,54Z"></path><path
              d="M8.74,53a1,1,0,0,1,0,2A1,1,0,0,1,8.74,53Z"></path></g
          ></svg
        >
      </div>

      <div class="has-tape">
        <h2>Public reçu</h2>
        <p>Enfants - Adolescents - Adultes</p>
      </div>

      <div class="sidebar-infosup">
        <button id="reveal_content" class="btn btn--dark"
          >Voir plus <ChevronDown class="icon icon-arrow-down" aria-hidden="true" /></button
        >
        <div class="info--closed"></div>
      </div>
    </div>
  </section>
</BaseLayout>
