---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeServiceCard from "../components/HomeServiceCard.astro";
---

<BaseLayout
  title="Psychologue Castelnau le lez"
  description="Psychologue clinicienne à Castelnau-le-Lez, près de Montpellier : psychothérapies adultes, enfants et adolescents, bilans et soutien parental. Cabinet au 25 av. Aristide Briand."
  pageH1="Psychologue à Castelnau-le-Lez"
  scheduleText="Lundi - Mardi - Mercredi - Samedi matin"
  copyrightRange="2016-2018"
>
  <section>
    <div class="home-hero"></div>
    <header class="home-text">
      <h1>Psychologue à Castelnau-le-Lez</h1>

      <p>
        Psychologue clinicienne, je vous accueille au sein de mon cabinet, à
        proximité de Montpellier, à Castelnau-le-Lez.
      </p>

      <p>
        Je vous propose différentes prises en charge dont vous trouverez le
        détail sur ce site
      </p>

    </header>
    <div class="row">
      <div class="home-block-tape has-tape">
        <h2>Emma Rouché, psychologue clinicienne</h2>
        <p>
          Psychologue clinicienne enregistrée à l’Agence Régionale de Santé
          (ARS) et au répertoire national des entreprises et des établissements
          (SIRENE) :
        </p>
        <div class="row">
          <div class="home-adelisiret">
            <p>N° ADELI : 34 93 1531 7</p>
            <p>N° SIRET : 813 432 531 00016</p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="home-services">Mes services</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <HomeServiceCard
      title="Psychothérapies enfants et adolescents"
      paragraphs={[
        "L'approche psychothérapeutique avec les enfants se distingue de celle des adultes par l'utilisation de médiations diverses.",
        "Vous découvrirez sur la page dédiée à la psychothérapie d'enfants et d'adolescents les raisons qui peuvent vous amener à consulter, ainsi que des détails sur le suivi qu'il est possible de mettre en place.",
      ]}
      href="/psychotherapies-enfants-adolescents.html"
      linkLabel="Psychothérapies enfants et adolescents"
    />
    <HomeServiceCard
      title="Psychothérapies adultes"
      paragraphs={[
        "Je propose au cabinet de Castelnau-le-Lez des psychothérapies d'orientation analytique.",
        "Les méthodes psychothérapeutiques sont diverses, vous souhaitez peut-être connaître mon approche avant de venir me consulter. Pour en savoir plus sur ma pratique de psychothérapeute, vous pouvez visiter le contenu qui lui est dédié.",
      ]}
      href="/psychotherapies-adultes.html"
      linkLabel="Psychothérapies adultes"
    />
    <HomeServiceCard
      title="Bilans psychologiques"
      paragraphs={[
        "Le bilan psychologique permet de donner un point de vue sur les compétences de l'enfant ou de l'adolescent.",
        "Les tests psychométriques et les tests projectifs sont les outils validés scientifiquement utilisés par le psychologue. Rendez-vous sur la page dédiée aux bilans psychologiques pour davantage d'informations.",
      ]}
      href="/bilan-psychologique.html"
      linkLabel="Bilans psychologiques"
    />
    <HomeServiceCard
      title="Soutien parental et familial"
      paragraphs={[
        "Je propose aux parents et familles un accompagnement et un espace de parole aptes à les soutenir.",
        "Pour en savoir plus sur le soutien familial et parental, je vous invite à visiter la page qui lui est consacrée.",
      ]}
      href="/soutien-parental.html"
      linkLabel="Soutien familial et parental"
    />
    </div>
  </section>
</BaseLayout>
