---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Psychotherapies adultes"
  description="Psychothérapies pour adultes à Castelnau-le-Lez : approche, déroulement des séances et modalités de consultation."
  pageH1="Psychothérapies adultes"
>
  <section class="g-page-section">
    <div class="span-8">
      <header class="has-paper-shadow">
        <h2>Ma pratique</h2>

        <p>
          Je propose des psychothérapies d'orientation psychanalytique. Il
          s'agit d'une écoute permettant à la personne de mettre ses difficultés
          en lien avec son histoire passée et/ou son quotidien, afin de donner
          un sens à sa souffrance et de pouvoir la dépasser. La réflexion du
          patient est privilégiée et le psychologue intervient pour l'aider à
          prendre conscience d'un certains nombre de choses et à faire des
          liens. Ces interventions se font en fonction de son besoin d'étayage
          et de soutien. Le patient est pleinement acteur de sa vie, de son
          travail de psychothérapie et de son désir de comprendre afin
          d'évoluer.
        </p>
      </header>

      <div class="has-img-border perch-paragraph">
        <h2>
          La mise en place d'un suivi : soutien psychologique et psychothérapies
        </h2>

        <p>
          La démarche vers un psychologue s'effectue généralement dans une
          période de changements importants, de questionnements et/ou de
          fragilité. Vous traversez un passage difficile dans votre vie
          amoureuse, familiale ou professionnelle ; vous vous sentez inquiet,
          préoccupé, avez perdu confiance en vous, ne trouvez plus le sommeil,
          êtes anxieux&hellip;
        </p>

        <p>
          Au cours d'une première rencontre, nous prendrons le temps de faire
          connaissance. Vous me ferez part de votre situation, de ce qui vous a
          conduit à prendre rendez-vous. En fonction de vos attentes et de ce
          que je pourrai vous proposer, nous déciderons ensemble du travail à
          engager.
        </p>

        <h3>Le soutien psychologique</h3>

        <p>
          C'est une aide ponctuelle. Il arrive de solliciter un psychologue de
          façon temporaire, dans un contexte bien précis. Cet accompagnement
          peut aller de quelques semaines à quelques mois, à raison d'un
          rendez-vous par semaine ou d'une rendez-vous toutes les quinze jours.
        </p>

        <h3>La psychothérapie</h3>

        <p>
          Elle s'adresse aux personnes rencontrant des difficultés
          psychologiques liées à des évènements de vie douloureux ou souhaitant
          engager un travail sur elles-mêmes afin de mieux se comprendre. Il
          s'agit d'un accompagnement plus soutenu, généralement au rythme d'une
          séance par semaine, ou d'un rendez-vous bi-mensuel. Ce travail peut
          aller de quelques mois à quelques années.
        </p>
      </div>
    </div>

    <div class="span-4--l">
      <div class="page-anim-svg">
        <!-- svg animation mots Bienveillance Confiance Neutralité Confidentialité Ecoute -->
        <svg
          id="anim-mots"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 125.7 368.84"
          ><title>mots</title><path
            id="fil"
            d="M79.22.39s-52.19,43-18.09,71,3.27,76,3.27,76-38.48,41-14.83,76C80.94,269.81,96,361,79.22,368.39"
            style="fill:none;stroke:#000;stroke-miterlimit:10"></path><g
            class="mot-anim"
            id="bienveillance"
            ><rect
              x="12.67"
              y="20.72"
              width="92.22"
              height="26"
              style="fill:#fff"></rect><text
              transform="translate(13.83 39.85)"
              style="font-size:18px;font-family:Satisfy, Satisfy"
              >Bienveillance</text
            ></g
          ><g class="mot-anim" id="confiance"
            ><rect
              x="30.67"
              y="97.39"
              width="92.22"
              height="26"
              style="fill:#fff"></rect><text
              transform="translate(40.58 114.43)"
              style="font-size:18px;font-family:Satisfy, Satisfy"
              >Confiance</text
            ></g
          ><g class="mot-anim" id="neutralite"
            ><rect y="166.72" width="92.22" height="26" style="fill:#fff"
            ></rect><text
              transform="translate(12.67 186.41)"
              style="font-size:18px;font-family:Satisfy, Satisfy"
              >Neutralité</text
            ></g
          ><g class="mot-anim" id="confidentialite"
            ><rect
              x="22"
              y="241.39"
              width="100.89"
              height="26"
              style="fill:#fff"></rect><text
              transform="translate(25.31 258.4)"
              style="font-size:18px;font-family:Satisfy, Satisfy"
              >Confidentialité</text
            ></g
          ><g class="mot-anim" id="ecoute"
            ><rect
              x="53.57"
              y="312.72"
              width="55.35"
              height="26"
              style="fill:#fff"></rect><text
              transform="translate(61.12 330.39)"
              style="font-size:18px;font-family:Satisfy, Satisfy">Ecoute</text
            ></g
          ></svg
        >
      </div>

      <div class="has-tape">
        <p>
          S'engager dans un travail de psychothérapie ou de suivi psychologique,
          nécessite avant toute chose un lien de confiance avec son psychologue
          psychothérapeute.
        </p>

        <p>
          Il est important de se sentir à l'aise, de pouvoir faire part de ses
          pensées, préoccupations et questionnements de façon aussi spontanée
          que possible, dans un cadre de confiance et de neutralité dénué de
          jugement.
        </p>

        <p>
          Le temps d'une psychothérapie est un moment à soi, pour soi, pendant
          lequel on cherche à mettre du sens sur son mal-être, ses symptômes et
          les étapes douloureuses de sa vie. C'est une parenthèse intemporelle
          où l'on découvre peu à peu sa façon «d'être au monde», sa façon d'être
          en relation avec les gens qui nous entourent (vie sentimentale, vie
          familiale, vie professionnelle etc).
        </p>

        <p>
          Le travail de psychothérapie est un «contrat» tacite mais primordial
          entre un patient dans le besoin de comprendre son vécu et sa
          souffrance, et un psychologue clinicien neutre et humain avant tout.
          C'est la rencontre de deux singularités qui vont parcourir ensemble,
          un bout de chemin.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
