---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Soutien parental"
  description="Soutien parental et familial à Castelnau-le-Lez : accompagnement des parents et de la dynamique familiale."
  pageH1="Soutenir la famille et les parents"
>
  <section class="g-page-section">
    <div class="span-8">
      <header class="has-paper-shadow">
        <h1>Soutenir la famille et les parents</h1>

        <p>
          Mon souhait de proposer du soutien parental et familial est né de mon
          expérience en institution médico-sociale, notamment de l’animation du
          «Café des Parents» et des consultations individuelles avec les parents
          ou en famille. Cette expérience humaine, d’une grande richesse, a été
          l’occasion de cibler précisément leurs besoins, et a mis en évidence
          la nécessité de créer un espace pour les accueillir.
        </p>

        <p><br /></p>

        <figure>
          <img data-image="6" src="/images/photo-site-enfant-3-w800.jpg" />
        </figure>

        <p><br /></p>
      </header>

      <div class="has-img-border perch-paragraph">
        <h2>Le soutien parental&nbsp;:&nbsp;dans quelles situations&nbsp;?</h2>

        <p>
          Le soutien parental et familial a pour objet d'accompagner les parents
          et familles dans leurs réflexions, leurs interrogations et leur
          positionnement.
        </p>

        <p>
          Certaines étapes de la vie peuvent bouleverser la cellule familiale,
          la fratrie, le couple parental, et nécessiter quelques «accordages» :
        </p>

        <ul>
          <li>l'arrivée d'un enfant</li><li>l'entrée à l'école</li><li>
            des difficultés scolaires
          </li><li>l'adolescence de son enfant</li><li>un déménagement</li><li>
            un divorce
          </li><li>famille monoparentale</li><li>la maladie, le handicap...</li>
        </ul>

        <p>
          Face à ces situations, sont souvent éprouvés sentiments d'impuissance,
          de culpabilité, de rejet, d'incompréhension...
        </p>

        <p>
          Je vous propose un espace bienveillant, où vous pourrez vous exprimer
          sans aucun jugement et en toute liberté. Je pourrai également vous
          apporter un éclairage sur certaines situations.
        </p>

        <p>
          Ensemble, nous discuterons de vos difficultés pour vous aider à
          trouver vos propres solutions et faire émerger toutes vos ressources
          en tant que parent, individu et membre d'une famille.
        </p>
      </div>
    </div>

    <div class="span-4--l">
      <div class="page-anim-svg">
        <svg
          id="famille"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100.24 51.19"
          ><title></title><g id="famille-2" data-name="famille"
            ><path
              d="M42.13,27c0,4.35-6.59,4.36-6.59,0S42.13,22.65,42.13,27Z"
              transform="translate(0.12 -23.74)"
              style="fill:#6a5a54"></path><path
              d="M21.41,53v-5.8h.49V61.91h2.18V53.83h.49v8.08h2.18V47.22h.48V53a.77.77,0,1,0,1.52,0c0-9.21.87-8.48-6.62-8.48-2.88,0-2.24,3.41-2.24,8.48A.77.77,0,1,0,21.41,53Z"
              transform="translate(0.12 -23.74)"
              style="fill:#e18e61"></path><path
              d="M26.13,42.19a1.94,1.94,0,0,1-3.88,0A1.94,1.94,0,0,1,26.13,42.19Z"
              transform="translate(0.12 -23.74)"
              style="fill:#e18e61"></path><path
              d="M13.79,27.44c0,4.3-6.5,4.3-6.5,0S13.79,23.14,13.79,27.44Z"
              transform="translate(0.12 -23.74)"
              style="fill:#6a5a54"></path><path
              d="M5.88,45.57V35.85H6.7V61.93c.61,0,1,0,3.65,0v-15h.81v15H14.8V35.85h.8v9.72a1.28,1.28,0,1,0,2.54,0V35.65c0-2.16-1.27-4.28-3.8-4.28H7.06c-2.3,0-3.74,1.88-3.74,4.22v10A1.29,1.29,0,1,0,5.88,45.57Z"
              transform="translate(0.12 -23.74)"
              style="fill:#6a5a54"></path><path
              d="M32.25,44.12l2.54-8.55h.68L31.11,50.72h4.07v5.21l3-2.22V50.64h1.24v2.17l6.35-4.64-3.66-12.6h.74l2.54,8.52C46,46,48.56,45.21,48,43.21,45.26,34.2,45.06,31,41.6,31,32,31,33.86,29.42,29.67,43.22A1.37,1.37,0,1,0,32.25,44.12Z"
              transform="translate(0.12 -23.74)"
              style="fill:#6a5a54"></path></g
          ><path
            id="main"
            d="M57.92,68.2C76.48,55.45,67.52,58,100.12,58V36.17c-26.18,0-33.8-1-40.41,3.61C32,60,31.21,59.16,32.91,63.8a8.78,8.78,0,0,0,1.21,2.25c3.22,4.29,4.43,2.19,18.16-6.12h4.14c-17,10.28-16.51,10.34-18.92,10.34-3.64,0-6.29-3.87-6.86-6.94-24.73,0-26.44-.57-28.88,1.89-4.15,4.18-1.09,9.53,5.75,9.53C49,74.75,45.66,76.64,57.92,68.2Z"
            transform="translate(0.12 -23.74)"
            style="fill:#6f9c3b"></path></svg
        >
      </div>
    </div>
  </section>
</BaseLayout>
