---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Tarifs psychologue Montpellier"
  description="Honoraires des consultations et bilans psychologiques à Castelnau-le-Lez (secteur Montpellier)."
  pageH1="Honoraires de consultations et de bilans"
>
  <section class="g-page-section">
    <div class="span-8">
      <header class="has-paper-shadow">
        <h1>Honoraires de consultations et de bilans</h1>
        <p>
          Les tarifs ci-dessous correspondent aux tarifs de base et sont donnés
          à titre indicatif. Ils dépendent de la prestation demandée et seront
          précisés au cours de la première rencontre. Des aménagements peuvent
          être possibles (étudiants, demandeurs d'emploi...).
        </p>
      </header>

      <div class="has-img-border perch-paragraph">
        <h2>Tarif des consultations psychologiques</h2>
        <p>
          Première consultation (hors bilan psychologique) / de 45min à 1h
          environ : 30 euros
        </p>
        <p>Séance de 45 minutes : <strong>50 euros</strong></p>
      </div>

      <div class="has-img-border perch-paragraph">
        <h2>Tarif du bilan psychologique :</h2>
        <p>
          Le bilan psychologique (test du Q.I et tests de personnalité) se
          déroule en plusieurs rencontres : une première rencontre, la passation
          des tests en 2 séances, la restitution des résultats accompagnée d'un
          compte-rendu écrit complet. Le tarif comprend la totalité de ces
          rencontres. Il dépend de la demande (bilan complet ou simple
          évaluation des compétences intellectuelles) et vous sera explicité au
          cas par cas, au cours de la première rencontre.
        </p>
        <p>
          Dans le cas où l'étude de la demande n'aboutit finalement pas à la
          passation d'un bilan psychologique, la séance sera facturée comme
          consultation simple.
        </p>
      </div>
    </div>

    <div class="span-4--l">
      <div class="page-anim-svg">
        <svg
          id="chart-svg"
          data-name="Calque 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          ><title>Honoraires</title><path
            id="arrows"
            d="M95,98H2V5H0L3,0,6,5H4V96H95V94l5,3-5,3V98Z"
            style="fill:#594f5b"></path><path
            id="courbe"
            d="M8.13,56.29C11.68,76,26.4,77.27,32.05,67.2c6.21-11.05,6.71-37.8,21.9-18.06C61.37,58.79,70,62,75,51.48,82.34,36,76,17.71,94.64,17.71"
            style="fill:none;stroke:#afcb88;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
          ></path></svg
        >
      </div>

      <div class="has-tape">
        <h2>A savoir</h2>
        <p>
          - Le règlement s'effectue à la fin de chaque séance (par chèque ou
          espèces).
        </p>
        <p>- Une facture vous sera donnée sur simple demande de votre part.</p>
        <p>
          -Vous serez redevable de toute séance non honorée et non décommandée
          au minimum deux jours en avance (sauf cas de force majeure). Si je
          suis prévenue suffisamment en avance, je peux proposer ce créneau
          horaire à une autre personne.
        </p>
        <p>
          - En cas de retard de votre part, la durée de la séance ne sera pas
          prolongée. Votre entretien terminera à l'heure initialement prévue.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
