---
import { Clock, House, Menu, Phone } from "@lucide/astro";

interface Props {
  pageH1: string;
  scheduleText: string;
}
const { pageH1, scheduleText } = Astro.props;
---

<header class="g-header">
  <div class="g-header-has-container">
    <div class="header-span header-span--logo">
      <span class="logo-emma">Emma Rouché</span>
      <h1 class="page-h1">{pageH1}</h1>
      <button
        type="button"
        class="nav-trigger"
        id="nav_trigger"
        aria-label="Ouvrir ou fermer le menu"
        aria-expanded="false"
        aria-controls="nav_state"
      >
        <Menu class="icon icon-burger" aria-hidden="true" />
      </button>
    </div>
    <div class="header-span header-span--adress">
      <House class="icon icon-home" aria-hidden="true" />
      <span class="header-span__para"
        >25 avenue Aristide Briand 34170 Castelnau-le-Lez</span
      >
    </div>
    <div class="header-span header-span--time">
      <Clock class="icon icon-clock" aria-hidden="true" />
      <span class="header-span__para">{scheduleText}</span>
    </div>
    <div class="header-span header-span--tel">
      <span class="header-tel">
        <Phone class="icon icon-phone" aria-hidden="true" />
        <span>07-83-42-76-84</span>
      </span>
    </div>
  </div>
</header>
